* {
    padding: 0;
    margin: 0;
    color: #FCFCFC;
    font-family: 'Fruktur', cursive;
}

body {
    background-color: #322e2f;
}

li {
    list-style-type: none;
    text-decoration: none;
}

.btn-primary {
    background-color: #12a4d9 !important;
}

#homepage {
    height: 97vh;
    width: 100%;
}

#addform {
    height: 97vh;
}

.header {
    height: 15vh;
}

.content {
    height: 80vh;
}

.footer {
    height: 3vh;
    background-color: #12a4d9;
    color: #322e2f;
}

.home-title {
    font-weight: 700;
    font-style: italic;
    font-size: 3em;
}

.section-title {
    font-size: 2em;
    font-weight: 700;
    margin-left: 865px;
}

.link {
    color: #12a4d9;
    text-decoration: none;
    cursor: pointer;
}

.add-link {
    font-size: 3em;
    position: absolute;
    bottom: 55px;
    right: 45px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #12a4d9;
    color: #FCFCFC;
    font-weight: 1900;
    text-align: center;
    vertical-align: middle;
}

.add-link:hover {
    color: #d9138a;
}

.link:hover {
    color: #12a4d9;
}

.btn-info {
    color: #FCFCFC;
    position: absolute;
    bottom: 55px;
    left: 20px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: none;
}

.btn-info:hover {
    color: #FCFCFC;
}

#tooltip {
    position: absolute;
    left: 100px;
    bottom: 40px;
    font-size: .8em;
}

@media screen and (max-width:992px) {
    .home-title {
        font-size: 2em;
    }
    .section-title {
        font-size: 1.5em;
    }
    .btn-primary {
        bottom: 40px;
        width: 50px;
        height: 50px;
    }
    .add-link {
        font-size: 2.2em;
        bottom: 40px;
        right: 50px;
        width: 50px;
        height: 50px;
    }
}